<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.udacity.material_reader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">

        <activity
            android:name="br.com.udacity.material_reader.ui.ArticleListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="br.com.udacity.material_reader.ui.ArticleDetailActivity"
            android:parentActivityName="br.com.udacity.material_reader.ui.ArticleListActivity">
            <intent-filter android:scheme="http">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.br.com.udacity.material_reader.items" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.udacity.material_reader.ui.ArticleListActivity" />
        </activity>

        <service android:name="br.com.udacity.material_reader.data.UpdaterService"
            android:exported="false" />

        <provider android:name="br.com.udacity.material_reader.data.ItemsProvider"
            android:authorities="br.com.udacity.material_reader"
            android:exported="false" />

    </application>

</manifest>
